.movies-card-list {
  display: flex;
  flex-direction: column;
}

.movies-card-list__container {
  padding: 70px 70px 10px 70px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 364px);
  gap: 37px 24px;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .movies-card-list__container {
    grid-template-columns: repeat(auto-fill, 330px);
    padding: 70px 30px 30px 30px;
    gap: 30px;
  }
}

@media screen and (max-width: 750px) {
  .movies-card-list__container {
    grid-template-columns: repeat(auto-fill, 290px);
    padding: 40px 10px 26px 10px;
    gap: 14px;
  }
}
