.portfolio {
  max-width: 1140px;
  margin: 0 auto 125px auto;
}

.portfolio__title {
  color: #8b8b8b;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 50px;
}

.portfolio__lists {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.portfolio__list {
  border-bottom: 1px solid;
  border-color: #e6e6e6;
  padding-bottom: 9px;
}

.portfolio__list:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.portfolio__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -1.2px;
  min-height: 60px;
}

.portfolio__arrow {
  width: 29px;
}

@media screen and (max-width: 850px) {
  .portfolio {
    margin-bottom: 90px;
  }

  .portfolio__link {
    font-size: 28px;
    letter-spacing: -1.12px;
  }

  .portfolio__arrow {
    width: 27px;
  }
}

@media screen and (max-width: 750px) {
  .portfolio {
    margin-bottom: 70px;
  }

  .portfolio__title {
    font-size: 14px;
    margin-bottom: 40px;
  }

  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.72px;
    min-height: 28px;
  }

  .portfolio__list {
    padding-bottom: 19px;
  }
}
