.nav-tab {
  background-color: #272727;
  display: flex;
  justify-content: center;
  min-height: 66px;
}

.nav-tab__navigation {
  display: flex;
  align-items: center;
}

.nav-tab__lists {
  display: flex;
  flex-direction: row;
  gap: 40px;
  min-height: 18px;
}

.nav-tab__link {
  display: flex;
}

.nav-tab__about {
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-decoration-line: underline;
  text-underline-offset: 3px;
}

@media screen and (max-width: 320px) {
  .nav-tab__about {
    font-size: 11px;
  }
}
