.login__input {
  font-weight: 500;
}

.login__form-container {
  margin-bottom: 179px;
}

@media screen and (max-width: 500px) {
  .login__form-container {
    margin-bottom: 267px;
  }
}
