@import url(./vendor/normalise.css);

@import url(./vendor/fonts/fonts.css);

@import url(./vendor/standardStylesProject.css);

@import url(./components/App/App.css);

@import url(./components/Header/Header.css);

@import url(./components/HeaderAuth/HeaderAuth.css);

@import url(./components/BurgerMenu/BurgerMenu.css);

@import url(./components/Main/Main.css);

@import url(./components/Main/Promo/Promo.css);

@import url(./components/Main/NavTab/NavTab.css);

@import url(./components/Main/AboutProject/AboutProject.css);

@import url(./components/Main/Techs/Techs.css);

@import url(./components/Main/AboutMe/AboutMe.css);

@import url(./components/Main/Portfolio/Portfolio.css);

@import url(./components/Footer/Footer.css);

@import url(./components/Movies/Movies.css);

@import url(./components/Movies/SearchForm/SearchForm.css);

@import url(./components/Movies/MoviesCard/MoviesCard.css);

@import url(./components/Movies/MoviesCardList/MoviesCardList.css);

@import url(./components/Movies/Preloader/Preloader.css);

@import url(./components/Profile/Profile.css);

@import url(./components/Register-Login/register-login.css);

@import url(./components/Login/Login.css);

@import url(./components/PageNotFound/PageNotFound.css);

/* * {
  outline: 1px solid yellow;
} */

body {
  font-family: "Inter", Arial, sans-serif;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background-color: #202020;
  margin: 0 auto;
}

/* Для плавной прокрутки к секции при клике ссылок в навигации NavBar */
html {
  scroll-behavior: smooth;
}

